@use "../custom" as *;
@use "../component/mixins" as *;

.companies {
  //   padding: 0 0 5rem 0;

  //   @include media-breakpoint-down(sm) {
  //     display: none;
  //   }

  &__logo-box {
    @include gradiant;
    border-radius: 20%;
    max-width: 100%;
    margin-bottom: 3rem;
    padding: 2rem;
    position: relative;

    @include media-breakpoint-down(sm) {
      padding: 2rem;
      margin: 1rem;
    }

    img {
      height: 100%;

      height: -webkit-min-content;
      height: -webkit-max-content;
      height: -webkit-fill-available;
      height: -webkit-fit-content;

      &:hover {
        filter: grayscale(120);
        box-shadow: 0px 0px 18px 0 #0000002c;
        transition: 0.3s ease-out box-shadow;
        border-radius: 20%;
      }
    }
  }
}
