@use "../custom" as *;
@use "../component/mixins" as *;

.footer {
  padding-top: 1rem;
  background-color: $light-pink;
}

// contact-box content

.contact-box {
  position: relative;

  &__icon {
    width: 2rem;
    // stroke: $very-lightgreen;
    padding-top: 0.5rem;

    @include media-breakpoint-up(sm) {
      width: 3rem;
    }
  }

  &__info {
    padding: 0.4rem;
    font-weight: 600;

    &--title {
      color: $gray;
      text-decoration: none;
      font-size: 1rem;

      @include media-breakpoint-up(sm) {
        font-size: 1.4rem;
      }
    }

    &--subtitle {
      font-size: 0.8rem;
      color: $gray;
      text-decoration: none;

      @include media-breakpoint-up(sm) {
        font-size: 1rem;
      }
    }
  }
}

// style the social media content

.footer-sm {
  a {
    color: $light-pink;

    i {
      font-size: 1rem;
      margin-left: 1rem;

      @include media-breakpoint-up(sm) {
        font-size: 1.6rem;
      }
    }
  }
}

// style the company info

.company-list {
  display: block;
  list-style-type: none;
  position: relative;

  li {
    margin-bottom: 0.5rem;
    text-decoration: none;

    a {
      text-decoration: none;
      color: $gray;

      &:hover {
        color: $primary;
      }
    }
  }
}

// style the copyright
.footer-bottom {
  @include gradiant;

  &__copyright {
    color: $gray;
    font-weight: 400;

    a {
      color: $black;
      text-decoration: none;

      &:hover {
        color: $primary;
        text-decoration: underline;
      }
    }
  }
}

// back to top button

.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.875rem;
  z-index: 9999;

  i {
    color: $gray;
    font-size: 1rem;
    @include absoluteCenter;
  }
}
